body {
	background-color: #e2e2e2;
	text-align: center;
}

p {
	text-align: center;
	font-family: arial, helvetica, sans-serif;
}

h1 {
	color: red;
	text-align: center;
}

ul {
	text-align: left;
	display: inline-block;
	margin: auto;
}
